body {
    font-family: 'Poppins', sans-serif;
}

h1, h2, h4 {
    font-family: 'Playfair Display', serif;
}

.navbar-nav .nav-link {
    color: #333;
    margin: 0 15px;
    font-size: 0.9rem;
    transition: 0.3s;
}

.navbar-nav .nav-link:hover {
    color: #c5a47e;
}

.container {
    margin-top: 20px;
}

.text-center {
    color: #c5a47e;
}

ul {
    list-style-type: none;
    padding: 0;
}

ul li {
    margin: 5px 0;
}